.leftRow>div,
.rightRow>div {
    width: 30px;
    height: 30px;
    background: grey;
    padding: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.leftRow,
.rightRow {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
#seats{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
#main{
    width: 60%;
    margin: 30px auto;
    text-align: center;
}
#red{
    background-color: red;
}